<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %> </th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td><%= @cat.id %></td>
      </tr>
      <tr>
        <td>Birthday</td>
        <td><%= @cat.birth_date %></td>
      </tr>
        <tr>
          <td>Color</td>
          <td><%= @cat.color %></td>
      </tr>
      <tr>
        <td>Sex</td>
        <td><%= @cat.sex %></td>
      </tr>
      <tr>
          <td>Description</td>
          <td><%= @cat.description %></td>
      </tr>
    </tbody>
</table>